* {
    padding:0;
    margin:0;
    list-style:none;
    border:0
    
    }
    
    header img { 
        height:500px;
        width: 200px;
        padding: 5px;
        background-color:rgb(238, 249, 253);
        
    }
    
    h1{
    
        color: rgb(244, 250, 250);
        text-align: center;
        height: 400px;
        font-size: 150px;
        font-family:'Times New Roman', Times, serif;
        text-shadow:  0 0 0.2em rgb(214, 142, 75), 0 0 0.2em rgb(231, 239, 240),
        0 0 0.2em rgba(236, 203, 111, 0.986);
        
    }

    